<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wanderlust</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings">
        <input name="title[title]" placeholder="enter title" type="text">
        <br><br>
        <textarea name="description[description]" placeholder=" enter description" id="" cols="30" rows="10"></textarea>
        <br><br>
        <input name="image[image]" placeholder="enter image URL/Link" type="text">
        <br><br>
        <input name="price[price]" placeholder="enter price" type="number">
        <br><br>
        <input name="country[country]" placeholder="enter country name" type="text">
        <br><br>
        <input name="location[location]" placeholder="enter location" type="text">
        <br><br>
        <button>Add</button>
    </form>
	<script src="index.js"></script>
  </body>
</html>